site_name: Fcitx5 For Android
site_description: Documentation for fcitx5-android
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme)"
      primary: teal
      accent: amber
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      primary: teal
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  favicon: assets/ic_launcher_legacy_source.png
  logo: assets/ic_launcher_legacy_source.png
  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - toc.integrate
    - navigation.top
    - content.action.edit
site_url: https://fcitx5-android.github.io

repo_name: fcitx5-android
repo_url: https://github.com/fcitx5-android/fcitx5-android

edit_uri: https://github.com/fcitx5-android/fcitx5-android.github.io/edit/master/docs/

copyright: Copyright &copy; 2022 - 2024 Fcitx5 for Android Contributors

extra:
  social:
    - icon: simple/github
      link: https://github.com/fcitx5-android
      name: fcitx5-android on GitHub
    - icon: simple/matrix
      link: https://matrix.to/#/#fcitx5-android:mozilla.org
      name: fcitx5-android on Matrix
    - icon: simple/telegram
      link: https://t.me/+hci-DrFVWUM3NTUx
      name: fcitx5-android on Telegram
    - icon: simple/trello
      link: https://trello.com/w/fcitx5android
      name: fcitx5-android on Trello

plugins:
  - search
  - i18n:
      docs_structure: suffix
      fallback_to_default: true
      languages:
        - build: true
          default: false
          locale: en
          name: English
        - build: true
          default: true
          locale: zh
          name: 简体中文
      reconfigure_material: true
      reconfigure_search: true

markdown_extensions:
  - toc:
      permalink: "#"
  - admonition
  - footnotes
  - meta
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - codehilite:
      guess_lang: false
      linenums: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.tasklist
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
